body {
    width: 100%;
    font-family: 'NanumSquareRoundEB';
    box-sizing: border-box;
    /* min-width: 1900px; */
}

/* 메뉴바 */
header{ 
   width: 100%;
   height: 130px;
   /* background-color: red; */
}
/* 푸터 */
footer{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    /* background-color: blanchedalmond; */
}
/* 대제목 */
.container1{
    width: 75%;
    height: 100px;
    margin: 0 auto;
}
.container1 div{
    padding: 35px 0 20px 0;
}
.container1 p:first-of-type{
    font-size: 25px;
    font-family: 'NanumSquareEB';
    margin-bottom: 8px;
}
.container1 p:last-of-type{
    font-size: 16px;
    font-family: 'NanumSquareR';
}
/* 내용 부분 */
.container2 {
    border: 1px solid rgb(234, 234, 234);
    width: 75%;
    height: 680px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 30px;
}
/* 로고 부분 */
.container2 .gigum{
    /* background-color: antiquewhite; */
    width: 25%;
    height: 100%;
    position: relative;
}
.container2 .gigum img{
    width: 90%;
    position: absolute;
    top: 25%;
    left: 6.5%;
}
.container2 .subject{
    /* background-color: aquamarine; */
    width: 45%;
    height: 100%;
}
.container2 .subject .subject_1{
    width: 90%;
    height: 90%;
    margin: 35px;
    margin-left: 31px;
    /* background-color: rgb(241, 225, 255); */
}

.container2 .subject .subject_1 .ptag,
.container2 .student .student_1 .ptag{
    padding: 20px 0 0;
    font-size: 20px;
    font-family: 'NanumSquareEB';
    margin-bottom: 10px;
}
.container2 .subject .subject_1 .ptag2,
.container2 .student .student_1 .ptag2{
    margin-bottom: 20px;
    font-family: 'NanumSquareRoundR';
}
.container2 .subject .subject_1 .pr{
    /* background-color: rgb(255, 196, 119); */
    width: 50%;
}
.container2 .subject .subject_1 .pr button{
    width: 100%;
    border: none;
    text-align: left;
    padding: 35px 0;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'NanumSquareRoundR';
    cursor: pointer;
    background-color: white;
    border-bottom: 0.5px solid rgb(241, 241, 241);
}
.container2 .subject .subject_1 .pr button:hover{
    font-family: 'NanumSquareRoundEB';
    background-color: #cae7ff;
}
.container2 .subject .subject_1 .pr button:active{
    background-color: #cae7ff;
}

.container2 .subject .subject_1 .pr2{
    background-color: rgb(218, 243, 244);
    width: 50%;
}
.container2 .subject .subject_1 .pr2 p button{
    border: none;
    width: 100%;
    height: 88.9px;
    text-align: left;
    /* padding: 32px 0; */
    padding-left: 30px;
    cursor: pointer;
    font-family: 'NanumSquareR';
    font-size: 16px;
    border-bottom: 0.5px solid rgb(218, 218, 218);
    background-color: rgb(230, 244, 255);
}
.container2 .subject .subject_1 .pr2 p button:hover{
    font-family: 'NanumSquareRoundEB';
}
.container2 .subject .subject_1 .subject_1_div{
    display: flex;
    border: 1px solid rgb(214, 214, 214) ;
}

/* 상담신청 부분 */
.container2 .student{
    /* background-color: rgb(65, 181, 181); */
    width: 30%;
}

.container2 .student .student_1{
    /* background-color: aliceblue; */
    width: 340px;
    height: 90%;
    margin: 35px;
}
.container2 .student .student_1 .privacy input{
    width: 340px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgb(214, 214, 214) ;
    font-size: 13px;
    outline: none;
}
.container2 .student .student_1 .privacy .first{
    height: 130px;
    margin-bottom: 20px;
}
.container2 .student .student_1 #privacy2 p,
.container2 .student .student_1 span{
    font-family: 'NanumSquareRoundB';
    font-size: 15px;
    margin-bottom: 10px;
}

.container2 .student .student_1 #privacy2 textarea{
    border: 1px solid rgb(232, 232, 232);
    font-size: 12px;
}
.container2 .student .student_1 button{
    margin-top: 20px;
    width: 345px;
    height: 70px;
    border-radius: 17px;
    border: none;
    background-color: #0f426c;
    font-size: 20px;
    color: white;
    font-family: 'NanumSquareB';
    cursor: pointer;
}
.container2 .student .student_1 button:hover{
    background-color: #3781bd;
}
