@font-face {
    font-family: 'NanumSquareB';
    src: url(../font/nanum-square/NanumSquareB.ttf);
}
@font-face {
    font-family: 'NanumSquareEB';
    src: url(../font/nanum-square/NanumSquareEB.ttf);
}
@font-face {
    font-family: 'NanumSquareL';
    src: url(../font/nanum-square/NanumSquareL.ttf);
}
@font-face {
    font-family: 'NanumSquareR';
    src: url(../font/nanum-square/NanumSquareR.ttf);
}
@font-face {
    font-family: 'NanumSquareR';
    src: url(../font/nanum-square/NanumSquareR.ttf);
}
@font-face {
    font-family: 'NanumSquareRoundB';
    src: url(../font/nanum-square-round/NanumSquareRoundB.ttf);
}
@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url(../font/nanum-square-round/NanumSquareRoundEB.ttf);
}
@font-face {
    font-family: 'NanumSquareRoundL';
    src: url(../font/nanum-square-round/NanumSquareRoundL.ttf);
}
@font-face {
    font-family: 'NanumSquareRoundR';
    src: url(../font/nanum-square-round/NanumSquareRoundR.ttf);
}