@font-face {
    font-family: 'NanumSquareB';
    src: url(../font/nanum-square/NanumSquareB.ttf);
}
@font-face {
    font-family: 'NanumSquareEB';
    src: url(../font/nanum-square/NanumSquareEB.ttf);
}

.inner{
    /* background-color: rgb(215, 246, 250); */
    margin: auto;
    box-sizing: border-box;
}

/* header */
header{
    top: 0px;
    position: sticky;
    z-index: 1;
    /* background-color: #dfeefa; */
}
.top{
    /* background-color: yellowgreen; */
    background-color: white;
    padding-top: 20px;
    /* margin-top: 20px; */
    width: 100%;
    height: 40px;
    padding-bottom: 20px;
}
.top .top_part{
    /* background-color: pink; */
    width: 63%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.logo_img{
    /* background-color: beige; */
    width: 150px;
    height: 40px;
    background-image: url(../icon/icon2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 80px;
}
.search_part{
    /* background-color: aquamarine; */
    width: 500px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 340px;
}
.search_part input{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    margin-top: 4px;
    border: 1px solid gainsboro;
    padding-left: 35px;
    border-radius: 20px;
    font-family: NanumSquareR;
    outline: none;
    position: absolute;
    left: 0;
    background-color: rgba(220, 220, 220, 0.212);
}
.search_part img{
    position: absolute;
    opacity: 0.5;
    top: 15px;
    left: 18px;
}
.sectionBox1{
    background-color: palegoldenrod;
    /* width: 400px; */
    height: 0px;
    position: absolute;
    text-align: right;
    top: -20px;
    right: 0;
}
.sectionBox1 button{
    width: 80px;
    height: 28px;
    border: none;
    border-radius: 10px;
}
.sectionBox1 button a{
    color: gray;
    font-family: 'NanumSquareB';
    font-size: 12.5px;
    line-height: 28px;
}
.sectionBox1 button:hover{
    background-color: #3684c4;
    font-family: 'NanumSquareB';
}
.sectionBox1 button>a:hover{
    color:white;
    font-size: 12.5px;
    font-family: 'NanumSquareB';
}
nav{
    position: fixed;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    /* background-color: #3684c4; */
    background-color: white;
    border-bottom: 1px solid gainsboro;
    box-shadow: 0 4px 4px -4px gainsboro;
}
nav .menupart{
    /* background-color: pink; */
    width: 63%;
    height: 100%;
    margin: 0 auto;
}
nav .menupart #menuBar{
    height: 60px;
    display: flex;
    justify-content: space-around;    
    align-items: center;
    padding-top: 10px;
}
nav .menupart #menuBar>li{
    margin: 0 24px;
    width: 240px;
    text-align: center;
}
nav .menupart #menuBar>li>a{
    font-size: 20px;
    text-decoration-line: none;
    line-height: 80px;
    /* color: white; */
    color: #0f426c;
    font-family: 'NanumSquareEB';
}
.li{
    position: relative;
}
.menu{
    position: absolute;
    top: 0;
    width: 180px;
    left: 30px;
    font-family: NanumSquareEB;
    margin-top: 9px;
}
.menubar{
    font-family: NanumSquareB;
    font-size: 18px;
    /* background: palegreen; */
    width: 63.3%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.cate{
    position: relative;
}
.cate_text{
    background-color: #3684c4d3;
    border-radius: 7px;
    color: white;
    width: 120px;
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 16.5px;
    margin: 5px 0 0 100px;
}
.text{
    position: absolute;
    color: white;
    left: 38px;
    top: 1px;
}
.cate_text svg{
    position: absolute;
    left: 13px;
    top: 4.5px;
    /* margin-top: 6px;
    margin-left: -10px; */
}
.menubar a{
    color: #0f426c;
    /* color: white; */
}
.menubar>ul>li{
    /* background-color: palevioletred; */
    position: relative;
    /* margin-left: 40px;
    width: 16%; */
    width: 20%;
    height: 100%;
    float: left;
}
.menubar>ul>li:hover>ul{
    display: block;
}
.menubar ul li ul{
    background-color: rgba(54, 132, 196);
    display: none;
}
.menubar ul li ul li a:hover{
    color: white;
}
/* hover 메뉴바 아래로 내려오게 */
/* nav .menupart #menuBar>li:first-child>.menu>.menuLine:hover{
    background-color: #3684c4;
    width: 100%;
    height: 300px;
    transition: 0.8s;
}
nav .menupart #menuBar>li:nth-child(2)>.menu>.menuLine:hover{
    background-color: #0f426c;
    width: 100%;
    height: 110px;
    transition: 0.8s;
}
nav .menupart #menuBar>li:nth-child(3)>.menu>.menuLine:hover{
    background-color: #0f426c;
    width: 100%;
    height: 70px;
    height: 110px;
    transition: 0.8s;
}
nav .menupart #menuBar>li:last-child>.menu>.menuLine:hover{
    background-color: #0f426c;
    width: 100%;
    height: 180px;
    transition: 0.8s;
}
nav .menupart #menuBar>li>.menu>ul>li{
    padding: 20px 0;
}
nav .menupart #menuBar>li>.menu>ul>li>a{
    font-size: 17px;
    color: white;
    font-family: 'NanumSquareB';
}
nav .menupart #menuBar>li>.menu>ul>li>a:hover{
    color: #3E9AE5;
} */